html, body {
  border: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#res-canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;

}

.fps-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 10;
  > p {
    all: unset;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }
}

.bg-container{

  z-index: -1;
  justify-content: center;
  display: flex;

}

nav{
    width: 100%;
    padding: 1rem 5%;
    background: #0d0d0d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin-bottom: 0.5rem;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: #1723ccff;
    letter-spacing: 1px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a{
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #1723ccff;
    transition: 0.3s;
}

.nav-links li a:hover{
    color: #380bbfff;
    text-shadow: 0 0 10px #0aa9f3;
}

.btns{
    display: flex;
    gap: 2rem;
}
.btn{
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: #1723ccff;
    color: #0f172a;
    box-shadow: 0 0 15px #1723ccff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: #380bbfff;
    transform: scale(1.1);
    box-shadow: 0 0 25px #380bbfff;
}

.btnImage{
    width: 20px;
    height: 20px;
}


.hero-card {
  width: 36vw;
  height: 254px;
  border-radius: 20px;
  background-image: "#fff700";
  transition: all 0.2s;
}

.hero-card:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 5px #1723ccff;
}

.hero-card__content {
  background: linear-gradient(90deg, rgba(36, 36, 36, 1), rgba(36, 36, 36, 0.4));
  border-radius: 17px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.hero-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 15%;
}

.hero-card h1{
  color: #1723ccff;
  font-size: 4rem;
  
}

.hero-card h2{
  color: rgb(90, 99, 220);
}

.hero-card p{
  text-decoration: underline;
  margin-top: 10px;
  color: rgb(106, 114, 230);
}
.skills-images-container{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.skill-image{
  width: 70px;
  height: 70px;
  background-color: #000000;
  border-radius: 20%;
  transition: 0.2s;
}

.skill-image:hover{
  scale: 1.05;
}



.card {
 width: 50vw;
 height: 45vh;
  background: linear-gradient(90deg, rgba(36, 36, 36, 1), rgba(36, 36, 36, 0.4));
 transition: all .3s;
 border-radius: 10px;
}

.card:hover {
 transform: scale(1.05);
 box-shadow: 0px 0px 10px 5px #1723ccff;
 border-radius: 20px;
}


.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 60%;
}


.card-title{
  text-align: center; 
  color: #1723ccff;
  padding-top: 10px;
}

.content-container{
  display: flex;
  justify-content: center;
}

.profile-pic{
  height: 200px;
  width: 200px;
  margin-left: 10%;
  margin-top: 8%;
  margin-right: 10%;
}

.bio{
   font-size: 2rem;
   color: rgb(90, 99, 220);
   margin-top: 30px;
}

.projects-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 120%;
}

.projects-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}


.projects-container h1{
  color: #1723ccff;
  margin-bottom: 5px;
}

.projects-container h2{
  color: rgb(90, 99, 220);
  text-align: center;
  font-size: medium;
  margin-bottom: 10px;
  
}

#project-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20vw;
  height: 40vh;
}

.project-image{
  width: 340px;
  height: 220px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#project-card p{
  color: rgb(106, 114, 230);
  font-size: 1.4rem;
}

#project-card button{
  margin-top: 15px;
}