html, body {
  border: none;
  box-sizing: border-box;
  background-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#res-canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  

}

.fps-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 10;
  > p {
    all: unset;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }
}

.bg-container{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
 
}

nav{
    width: 100%;
    padding: 1rem 5%;
    background: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    margin-bottom: 0.5rem;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: aqua;
    letter-spacing: 1px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a{
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: aquamarine;
    transition: 0.3s;
}

.nav-links li a:hover{
    color: #0aa9f3;
    text-shadow: 0 0 10px #0aa9f3;
}

.btns{
    display: flex;
    gap: 2rem;
}
.btn{
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: aquamarine;
    color: #0f172a;
    box-shadow: 0 0 15px #38bdf8;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: #0aa9f3;
    box-shadow: 0 0 25px #0aa9f3;
}

.btnImage{
    width: 20px;
    height: 20px;
}